.about h1,
.about h2 {
  width: fit-content;
  background-color: var(--light-yellow-bg2);
  word-wrap: break-word;
  padding: 5px;
  padding-inline-end: 2em;
  border-radius: 0 25px 25px 0;
}

.dark .about h1,
.dark .about h2 {
  background-color: var(--dark-yellow2-opacity);
}

.about ul li {
  margin-block-end: 2px;
}

.about a {
  padding: 5px;
}

.about a {
  background-color: var(--gray1);
}

.about a.active {
  background-color: var(--light-yellow-bg2);
}

.dark .about a.active {
  background-color: var(--dark-yellow2-opacity);
}

.about-team li * {
  margin-inline-end: 10px;
}

.about-team li i {
  font-size: x-large;
  padding: 10px;
}

.about-team a {
  background-color: transparent;
}

.about-team .social-link i {
  background-color: var(--gray1);
  border-radius: 100%;
  transition: background-color ease 0.3s;
}

.about-team .social-link i:hover {
  background-color: var(--light-yellow-bg2);
  border-radius: 100%;
}

.dark .about-team .social-link i {
  background-color: var(--dark-blue-bg2);
}

.dark .about-team .social-link i:hover {
  background-color: var(--dark-blue-bg1);
}
