.app-footer {
  background-color: var(--clr1);
  color: var(--clr2bg-light);
  padding-block: 1em;
  transition: background-color 0.5s, color 0.5s;
}

/*TODO: change all color pallete for dark/light mode*/
.app-footer.dark {
  background-color: var(--gray3);
  color: var(--gray1);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.1rem;
}
