.app-header {
  position: relative;
  background-color: var(--clr1);
  color: var(--clr2bg-light);
  padding-block: 1em;
  transition: background-color 0.5s, color 0.5s;
}

/*TODO: change all color pallete for dark/light mode*/
.app-header.dark {
  background-color: var(--gray3);
  color: red;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.1rem;
}

.dropdown-menu {
  position: absolute; 
  top: 100%; 
  right: 1.1rem; 
  color: var(--gray3);
  background-color: white; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  margin-top: 5px; /
}

.dropdown-menu ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.dropdown-menu li {
  padding: 10px 15px; 
  cursor: pointer; 
}

.dropdown-menu li:hover {
  background-color: #f0f0f0; 
}

@media (max-width: 720px) {
  .app-header {
    color: var(--clr2bg-light);
  }
}
