.home {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  align-content: start;
  justify-items: center;
  gap: 10px;
}

.home h1,
h4 {
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}
