.main-wrapper {
  height: 100%;
  width: 100%;
  padding: 1em;
  transition: background-color 0.5s, color 0.5s;
}

.main-wrapper.dark {
  background-color: var(--gray3);
  color: var(--gray1);
}

.main-wrapper h1 {
  margin-block-start: 0;
}
