.side-nav {
  position: relative;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-flow: row;
  align-content: start;
  padding-block-start: 1em;
  transition: background-color 0.5s, color 0.5s;
}

.side-nav.dark {
  background-color: var(--gray3);
  color: var(--white);
}

.side-nav > * {
  grid-column: 2;
}

.side-nav .app-nav {
  position: sticky;
  top: 1rem;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  gap: 15px;
}

.app-nav a {
  padding-inline-start: 5px;
  transition: background-color ease 0.3s;
}

.app-nav a.active {
  font-weight: 600;
  background-color: var(--light-yellow-bg2);
  color: var(--dark-blue-h1);
  border-radius: 0 25px 25px 0;
}

.dark .app-nav a.active {
  background-color: var(--dark-yellow2-opacity);
  color: var(--white);
}

.app-nav a.active:hover {
  background-color: var(--light-yellow-bg2);
}

.dark .app-nav a.active:hover {
  background-color: var(--dark-yellow2-opacity);
}

.app-nav a:hover {
  background-color: var(--light-yellow-bg1);
  border-radius: 0 25px 25px 0;
}

.dark .app-nav a:hover {
  background-color: var(--dark-yellow1-opacity);
}
