.todo-details {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.todo-details h1 {
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

.todo-details .back {
  position: absolute;
  top: 0;
  left: 0;
}

.todo-details p {
  padding: 1em;
  margin-block-end: 1em;
  border-bottom: 2px solid var(--gray3);
}

.dark .todo-details {
  p {
    border-bottom: 2px solid var(--gray1);
  }
}

@media (max-width: 620px) {
  .todo-details .back {
    top: auto;
    bottom: 1em;
  }
}
