.todo-list {
  padding: 0 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin: 0;
}

.todo-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid var(--gray2);
  border-radius: 25px;
  transition: background-color 0.5s, color 0.5s;
}

.todo-list li:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.001);
}

.dark .todo-list li:hover {
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.5);
}
