.todo-index {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.index-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.display-radio-btn {
  background-color: var(--gray1);
}

.display-radio-btn.selected {
  background-color: var(--light-yellow-bg2);
}

.dark .display-radio-btn.selected {
  background-color: var(--dark-yellow2-opacity);
}
