:root {
  --clr1: rgb(96, 107, 91);
  --clr2: rgb(120, 99, 110);

  --clr1bg: rgb(153, 166, 149);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(253, 236, 246);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
}

:root {
  --white: rgb(255, 255, 255);
  /*light mode*/
  --light-yellow-bg1: rgb(255, 239, 200);
  --light-yellow-bg2: rgb(255, 217, 95);
  --light-brown-bg1: rgb(220, 215, 201);
  --dark-blue-h1: rgb(44, 57, 48);
  /*dark mode*/
  --dark-blue-bg1: rgb(63, 79, 68);
  --dark-blue-bg2: rgb(44, 57, 48);
  --dark-yellow1-opacity: rgb(255, 239, 200, 0.1);
  --dark-yellow2-opacity: rgb(255, 217, 95, 0.5);
}
