button,
.btn {
  cursor: pointer;
  background-color: var(--light-yellow-bg1);
  color: var(--gray3);
  margin: 0.5em;
  border: 0;
  padding: 0.5em 0.8em;
  border-radius: 4px;
}

button:hover,
.btn:hover {
  background-color: var(--light-yellow-bg2);
  transition: 0.3s;
}

.dark button,
.dark .btn {
  background-color: var(--dark-blue-bg2);
  color: var(--gray1);
}

.dark button:hover,
.dark .btn:hover {
  background-color: var(--dark-blue-bg1);
}

input:focus {
  background-color: var(--light-yellow-bg1);
  transition: background-color 1s;
}
